<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3ae4f6e5-ad95-4931-8a2f-03543f339ce4/resourcegroups/MC_kubernetes-demo-eus_K8S-RM-DEMO_eastus/providers/Microsoft.ContainerRegistry/registries/WebApplicationMikePOC</ResourceId>
    <ResourceName>WebApplicationMikePOC</ResourceName>
    <ResourceGroup>MC_kubernetes-demo-eus_K8S-RM-DEMO_eastus</ResourceGroup>
    <Subscription>免费试用</Subscription>
    <RegistryUrl>https://webapplicationmikepoc.azurecr.io/</RegistryUrl>
    <UserName>WebApplicationMikePOC</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>94b75fd4-8be2-4f1b-b542-c592fba12b22</ProjectGuid>
  </PropertyGroup>
</Project>